.banner {
	background-image: linear-gradient(-255deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.1) 50%),url(../../images/background.jpg);
	color: white;
	padding: 130px 0px;
	background-size: cover;
	background-position: center;
	opacity: 0.9;
}

.banner h1 {
	font-size: 50px;
}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	margin-bottom: 40px;
}
