.cards {
	display: flex;
	flex-wrap: wrap;
}

.card{
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 6px;
	margin: 10px; 
	flex-basis: 250px;
	flex-grow:1; 
}

.card img {
	width: 120px;
	height: 100px;
	border-radius: 6px;
	margin: 5px 10px; 
}

.card h3 {
	flexgrow: 1;
	padding-lef: 20px;
	font-size: 16px;
	font-weight: lighter;
	font-family: "Playfair Display", serif;
}
